<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JEMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="JEMS.Properties.Settings.DatabaseDataEntryBPOConnectionString"
            connectionString="Data Source=10.10.10.254\BPOSERVER;Initial Catalog=DatabaseDataEntryBPO;Persist Security Info=True;User ID=sa;Password=BPO@DN#2013"
            providerName="System.Data.SqlClient" />
        <add name="JEMS.Properties.Settings.JEMSConnectionString" connectionString="Data Source=10.10.10.254\BPOSERVER;Initial Catalog=JEMS;User ID=sa;Password=BPO@DN#2013"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <JEMS.Properties.Settings>
            <setting name="ZoomImage" serializeAs="String">
                <value>40</value>
            </setting>
        </JEMS.Properties.Settings>
    </userSettings>
</configuration>